<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <style id="CSS">
        #topnav{
            display: flex;
            justify-content: space-around;
        }
        #topnav div :hover{
            background-color: lightblue;
        }
    </style>
</head>
<body>
    <div id="topnav" class="flex-container">
        <div><h2>Project Green - Blueprint 2024</h2></div>
        <div></div>
        <div></div>
        <div>login/signup</div>
    </div>
</body>
</html>